<tr>
  <th scope="row"><%= template_counter + 1 %></th>
  <td><%= template.name %></td>
  <td><%= template.variant %></td>
  <td><%= link_to "Edit", edit_admin_template_path(template), remote: true  %></td>
  <td><%= link_to "Delete", admin_template_path(template), remote: true, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
