<%= render 'shared/content_title', title: "Photo Gallery" %>

<div id="obituaries-page" class="page obituaries-page page-container">
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div id="post-container" class="col-md-8 post-container" role="main">
				<div class="about-right-box">

          <!-- Photo Section -->
          <h2>Photos</h2>
					<br />
					<!-- - table of photos, with edit (position, caption, published, photo) -->
					<h4>Click on the Caption to Edit<br/><br/>
						Drag Table Rows to Switch Position of Photos</h4>
					<br />
					<table class="table">
						<thead>
							<tr>
								<th>Caption</th>
								<th>Published?</th>
								<th>Image</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody id="photos">
							<%= render partial: "creator/photos/photo", collection: @photos.rank(:row_order) %>
						</tbody>
					</table>
					<br>

          <%= form_for [:creator, @memorial, @photo] do |f| %>
            <%= f.label :picture, "Upload Multiple Photos:" %>
            <%= f.file_field :picture, multiple: true, name: "photo[picture]", class: 'form-control' %>
          <% end %>

          <div id="photo-form" style="display:none;"></div>
          <br><br>
				</div><!--  /.about-right-box -->
			</div><!-- /.post-container -->
			<!-- Post Container End -->
			<!-- Sidebar -->
			<%= render 'edit_sidebar' %>
			<!-- Sidebar End-->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /#about-page -->

<script>
$(document).ready(function() {
  $('#new_photo').fileupload({
    dataType: "script"
  });

  $(".best_in_place").best_in_place();

	$(function() {
		$('#photos').sortable({
			update: function(event, ui) {
				$.ajax({
					type: 'PUT',
					url: ui.item.data('update-url'),
					dataType: 'json',
					data: { photo: { row_order_position: ui.item.index() } }
				});
			}
		});
	});
});
</script>
