<div id="sidebar" class="col-md-4 sidebar">
	<%= link_to "Memorial Settings", edit_memorial_path(@memorial), class: "submit-btn submit md-btn btn" %>
	<%= link_to "Timeline Section", edit_events_memorial_path(@memorial), class: "submit-btn submit md-btn btn" %>
	<%= link_to "Photo Gallery", edit_photos_memorial_path(@memorial), class: "submit-btn submit md-btn btn" %>

  <!-- Banner Section -->
  <div id="banners" class="banners">
      <div class="banner-item">
      <div class="banner-icon">
      </div>
      <h3 class="banner-title">Visitor Stats</h3>
      <p class="banner-txt">
        Total Views: <%= @recent_visits %><br>
      </p>
    </div>
  </div><!-- /.banner -->

  <div class="banner-item">
    <div class="banner-icon">
      <i class="fa fa-book"></i>
    </div>
    <h3 class="banner-title">Memorials 101</h3>
    <p class="banner-txt">
      Articles showing how to create a memorial
    </p>
  </div>

  <!-- Rotating blog articles from main site -->
  <aside class="widget widget_post">
    <img src="<%= @post.picture.url %>" alt="<%= @post.title %>">
    <h4 class="post-title">
      <%= @post.title %>
    </h4>
    <p>
      <%= @post.summary %>
    </p>
    <div class="continue-reading">
      <a href="<%= post_path(@post) %>" target="_blank">Read More <i class="fa fa-angle-double-right"></i></a>
    </div><!-- /.continue-reading -->

  </aside><!-- /.widget -->



  <aside class="widget widget_slider">
  </aside>
</div><!-- /#sidebar -->
