<tr>
  <th scope="row"><%= event_counter + 1 %></th>
  <td><%= event.title %></td>
  <td><%= display_short_date(event.date) %></td>
  <td><%= image_tag event.picture.url(:thumb) if event.picture? %></td>
  <td><%= truncate(event.description, length: 50, separator: '') %></td>
  <td><%= event.published == true ? "Yes" : "No"  %></td>
  <td><%= link_to "Edit", edit_creator_memorial_event_path(@memorial, event), remote: true  %></td>
  <td><%= link_to "Delete", creator_memorial_event_path(@memorial, event), remote: true, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
