<%= render 'shared/content_title', title: 'Step 1: Create an Account' %>

<div>
  <%= form_for @user do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="control-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="control-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit 'Register' %>
  <% end %>
</div>
