<div class="col-md-6">
  <article class="post-content">
    <div class="row">
      <div class="col-md-6">
        <div class="featured-img">
          <% if memorial.picture.url %>
            <img class="blog-post-image" src="<%= memorial.picture.url(:home) %>" alt="Featured Image">
          <% else %>
            <img class="blog-post-image" src="<%= asset_path 'memorials/articles/image-2.jpg' %>" alt="Featured Image">
          <% end %>
        </div><!-- /.featured-img -->
      </div>
      <div class="col-md-6">
        <div class="post-container">
          <h3 class="post-title">
            <%= link_to memorial.name, view_memorial_path(memorial) %>
          </h3><!-- /.post-title -->
          <div class="post-meta">
            <!-- <span class="country">USA</span> -->
            <!-- <span class="from"><time datetime="2011">2011</time></span> -  -->
            <span class="to"><time datetime="<%= display_year(memorial.dod) %>"><%= display_month_day_year(memorial.dod)%></time></span>
          </div><!-- /.post-meta -->
          <p class="post-description">
          </p>
        </div><!-- /.post-container -->
      </div>
    </div><!-- /.row -->
  </article><!-- /.post-content -->
</div><!-- /.col-md-4 -->
