<section id="top-banner" class="top-banner background-image" data-bg-image="<%= asset_path 'memorials/top-banner/bg-img-1.jpg' %>">
	<div class="overlay">
		<div class="container">
			<div class="top-banner-item">
				<h2 class="top-banner-title-1">
					Celebrating Lives
				</h2>
				<h3 class="top-banner-title-2">
					With Dignity
				</h3>
				<div class="top-banner-btn">
					<a href="/register" class="btn lg-btn"> Get Started <i class="fa fa-angle-double-right"></i></a>
				</div>
			</div><!-- /.top-banner-item -->
		</div>
	</div><!-- /.overlay -->
</section><!-- /#top-banner -->

<!-- Services -->
<section id="services" class="services">
  <div class="section-padding">
    <div class="container">
      <div class="row">
				<%= react_component('ServiceBox') %>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about-us" class="about-us">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="section-details">
					<%= react_component('AboutBox', img_src: (asset_path 'memorials/about_mlk.png') ) %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Memorials -->
<section id="articles" class="articles">
  <div class="section-padding">
    <div class="container">
      <h3 class="section-title">Recent Memorials</h3>
      <div class="row">
				<%= react_component('MemorialsBox') %>
      </div>
    </div>
  </div>
</section>

<!-- Articles -->
<section class="about-us">
	<div class="section-padding">
		<div class="container">
			<h3 class="section-title">Blog Posts</h3>
			<div class="row">
				<%= react_component('PostsBox') %>
			</div>
		</div>
	</div>
</section>

<!-- Gallery -->
<section id="gallery" class="gallery">
	<div class="section-padding">
		<div class="container">
			<div class="row">
				<%= react_component('PhotosBox') %>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function() {
  $('.boxer').boxer();
});
</script>
