<h4>Add New Photo</h4>
  <!-- gallery upload -->
  <!-- title and image attachment -->
  <!-- multiple image and title upload via jquery -->
  <%= form_for([@memorial, @photo], remote: true) do |f| %>
    <div class="control-group">
      <%= f.label :caption %>
      <%= f.text_field :caption, class: "form-control", placeholder: "Put a description that describes the photo" %>
    </div>
    <div class="control-group">
      <%= f.label :picture %>
      <%= f.file_field :picture, class: "form-control" %>
    </div>
    <%= f.submit (@photo.new_record? ? "Submit Photo" : "Update Photo"), class: "submit-btn submit md-btn btn" %>
  <% end %>
