<%= render 'shared/content_title', title: "Blog" %>

<div id="obituaries-page" class="page obituaries-page page-container">
			<div class="container">
				<div class="row">
					<!-- Post Container -->
					<div id="post-container" class="col-md-8 post-container" role="main">
						<div class="about-right-box">

              <% @posts.each do |post| %>
							<article class="post-content">
								<div class="row">
									<div class="col-sm-6">
										<div class="featured-img">
                      <%= image_tag post.picture.url(:thumb) if post.picture? %>
										</div><!-- /.featured-img -->
									</div>
									<div class="col-sm-6">
										<div class="post-container">
											<h3 class="post-title">
												<a href="obituaries_details.html"><%= post.title %></a>
											</h3><!-- /.post-title -->
											<div class="post-meta">
												<span class="time"><%= display_datetime(post.created_at) %></span>
											</div><!-- /.post-meta -->
											<p class="post-description">
                        <td><%= post.body.html_safe %>
											</p>
											<div class="continue-reading pull-left">
                        <%= link_to "Read More", post_path(post)  %>
											</div><!-- /.continue-reading -->
										</div><!-- /.post-container -->
									</div>
								</div><!-- /.row -->
							</article><!-- /.post-content -->
              <% end %>

            </div><!--  /.about-right-box -->

						<nav>
							<ul class="pagination">
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
							</ul>
						</nav>
					</div><!-- /.post-container -->
					<!-- Post Container End -->


					<!-- Sidebar -->
					<div id="sidebar" class="col-md-4 sidebar">
						<!-- Banner Section -->
						<div id="banners" class="banners">
							<div class="banner-item">
								<div class="banner-icon">
									<i class="fa fa-envelope-square"></i>
								</div>
								<h3 class="banner-title">In loveing memory</h3>
								<p class="banner-txt">
									There must be great love to God and an earnest desire to know his will.
								</p>
							</div>

							<div class="banner-item">
								<div class="banner-icon">
									<i class="fa fa-book"></i>
								</div>
								<h3 class="banner-title">A loving tribute</h3>
								<p class="banner-txt">
									Without strong desire to know God's will you can never learn it.
								</p>
							</div>

							<div class="banner-item">
								<div class="banner-icon">
									<i class="fa fa-file-text"></i>
								</div>
								<h3 class="banner-title">Remembering our beloved</h3>
								<p class="banner-txt">
									It is those who desire that obtain answers to their prayers
								</p>
							</div>
						</div><!-- /.banner -->

						<aside class="widget widget_slider">
							<div id="img-slider" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#img-slider" data-slide-to="0" class="active"></li>
									<li data-target="#img-slider" data-slide-to="1"></li>
									<li data-target="#img-slider" data-slide-to="2"></li>
								</ol><!-- /.carousel-indicators -->
								<div class="carousel-inner text-center">
									<div class="item active">
										<img src="images/sidebar-slider/01.jpg" alt="Slide Image">
										<h4 class="image-title">lorem Ipsum</h4>
									</div><!-- /.item -->

									<div class="item">
										<img src="images/sidebar-slider/02.jpg" alt="Slide Image">
										<h4 class="image-title">lorem Ipsum</h4>
									</div><!-- /.item -->

									<div class="item">
										<img src="images/sidebar-slider/03.jpg" alt="Slide Image">
										<h4 class="image-title">lorem Ipsum</h4>
									</div><!-- /.item -->

								</div><!-- /.carousel-inner -->

							</div><!-- /#aboutImg-carousel  -->
						</aside>
					</div><!-- /#sidebar -->
					<!-- Sidebar End-->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /#about-page -->
