<%= render 'shared/content_title', title: "Blog Post" %>

<section id="cremation-page" class="page cremation-page page-container">
			<div class="container">
				<div class="row">
					<!-- Post Container -->
					<div id="post-container" class="col-md-12 post-container" role="main">
						<article class="post">
							<div class="post-thumbnail">
								<figure>
                  <%= image_tag @post.picture.url if @post.picture? %>
									<figcaption>
										<h1 class="image-caption">
                      <%= @post.title %>
										</h1>
									</figcaption>
								</figure>
							</div><!-- /.post-thumbnail -->
							<div class="post-content">
								<h2 class="post-title">
								</h2>
								<div class="entry">
									<p>
										<%= @post.body.html_safe %>
									</p>
								</div><!-- /.entry -->
							</div><!-- /.post-content -->
						</article><!-- /.post -->

						<div id="disqus_thread"></div>
						<script>
						  var disqus_config = function () {
						    this.page.url = "<%= url_for(@post) %>" ;
						    this.page.identifier = "<%= @post.id %>";
						  };
						  (function() {
						    var d = document, s = d.createElement('script');
						    s.src = '//memoriapp.disqus.com/embed.js';
						    s.setAttribute('data-timestamp', +new Date());
						    (d.head || d.body).appendChild(s); })();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



					</div><!-- /.post-container -->
					<!-- Post Container End -->



				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /#cremation-page -->
