<h4 id="suggest-event-title">Suggest an Event</h4>
<%= form_for [@memorial, Event.new] do |f| %>
<div class="control-group">
  <%= f.label :date %>
  <%= f.date_field :date, class: "form-control", required: true %>
</div>
<div class="control-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", placeholder: "What event was it?", required: true %>
</div>
<div class="control-group">
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "What happened and why was it memorable?", required: true %>
</div>
<div class="control-group">
  <%= f.label :picture %>
  <%= f.file_field :picture, class: "form-control" %>
</div>
<br />
<%= f.submit "Suggest Event", class: "submit-btn submit md-btn btn" %>
<% end %>
