<article class="post-content">
  <div class="row">
    <div class="col-sm-6">
      <div class="featured-img">
        <% if memorial.picture.url.nil? %>
          <img class="blog-post-image" src="<%= asset_path 'memorials/why-choose-post/image-1.jpg' %>"  alt="Featured Image">
        <% else %>
          <img class="blog-post-image" src="<%= memorial.picture.url(:gallery) %>"  alt="Featured Image">
        <% end %>
      </div><!-- /.featured-img -->
    </div>
    <div class="col-sm-6">
      <div class="post-container">
        <h3 class="post-title">
          <a href="obituaries_details.html"><%= memorial.name %></a>
        </h3><!-- /.post-title -->
        <div class="post-meta">
          <span class="time"><time datetime="1943-2015">1943 - <%= display_year(memorial.dod) %></time></span>
        </div><!-- /.post-meta -->
        <p class="post-description">
          Cover Photo:
          <!-- green check or red X -->
          <br>
          Biography:
          <!-- green check or red X -->
          <br>
          Photos Uploaded: <%= memorial.photos.size %>
          <br>
          Timeline Events: <%= memorial.events.size %>
          <br>
          Guestbook Entries: <%= memorial.guestbook.comments.size if memorial.guestbook %>
        </p>
        <%= link_to "View Memorial", view_memorial_path(memorial), class: "submit-btn submit md-btn btn", target: "_blank" %>
        <%= link_to "Add Content", edit_memorial_path(memorial), class: "submit-btn submit md-btn btn" %>
      </div><!-- /.post-container -->
    </div>
  </div><!-- /.row -->
</article><!-- /.post-content -->
