<div>
  <h4><%= memorial.name %></h4>
  <p>
    Created: <%= display_datetime(memorial.created_at) %>
  </p>
    Passed: <%= display_datetime(memorial.dod) %>
  <p>
    Guestbook Entries: <%= memorial.comments.size %>
  </p>
  <p>
    <%= link_to "View Memorial", memorial_path(memorial) %>
  </p>
  <p>
    <%= link_to "Memorial Control Panel", edit_memorial_path(memorial) %>
  </p>
</div>
