<%= render 'shared/content_title', title: "Add Content" %>

<div id="obituaries-page" class="page obituaries-page page-container">
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div id="post-container" class="col-md-8 post-container" role="main">
				<div class="about-right-box">
					<%= render 'memorials/client_backend/form' %>
        <br>
        <hr>
        <h2>Timeline</h2>
        <br>
        <h4>Event Listing</h4>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Date</th>
              <th>Image</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="events">
						<%= render @events %>
          </tbody>
        </table>
        <br>

				<%= link_to "New Timeline Event", new_memorial_event_path(@memorial), remote: true, class: "submit-btn submit md-btn btn" %>

				<br>

				<div id="event-form" style="display:none;">

				</div>



        <br>
        <hr>
        <h2>Photos</h2>
        <br>
        <h4>Current Gallery</h4>
        <div id="team-page" class="page team-page page-container text-center">
          <div class="container">
            <div class="row">
              <% @memorial.reload.photos.each do |photo| %>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="member">
                    <div class="member-avatar"><%= image_tag photo.picture.url(:thumb) if photo.picture? %></div>
                    <div class="member-details">
                      <h4 class="name"><a href="#"><%= photo.caption %></a></h4><!-- /.name -->
                    </div><!-- /.member-details -->
                  </div><!-- /.member -->
                </div>
              <% end %>
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /#about-page -->


				<%= render 'photos/form' %>

        <br><br>


			</div><!--  /.about-right-box -->



			</div><!-- /.post-container -->
			<!-- Post Container End -->


			<!-- Sidebar -->
			<%= render 'edit_sidebar' %>
			<!-- Sidebar End-->

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /#about-page -->
