<%= render 'shared/errors', obj: @memorial %>

<div>
  <%= form_for @memorial do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :biography %>
    <%= f.text_area :biography, rows: 5 %>
  </div>
  <%= f.submit "Update Memorial" %>
  <% end %>
</div>
