<%= render 'shared/content_title', title: "Memorial Control Panel" %>

<%= render 'shared/errors', obj: @memorial %>

<div>
  <%= form_for @memorial do |f| %>
  <div class="control-group">
    <%= f.label :name, "Full Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :dod, "Passed Away" %>
    <%= f.date_field :dod %>
  </div>
  <div class="control-group">
    <%= f.label :biography %>
    <%= f.text_area :biography, rows: 5 %>
  </div>
  <%= f.submit "Update Memorial" %>
  <% end %>
</div>
