<%= render 'shared/content_title', title: (current_user.memorials.count == 1 ? "Your Memorial" : "Your Memorials") %>

<div id="obituaries-page" class="page obituaries-page page-container">
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div id="post-container" class="col-md-8 post-container" role="main">
				<div class="about-right-box">

					<% @memorials.each do |memorial| %>
					  <%= render 'memorial', memorial: memorial %>
					<% end %>

				</div><!--  /.about-right-box -->
			</div><!-- /.post-container -->
			<!-- Post Container End -->
			<!-- Sidebar -->
			<div id="sidebar" class="col-md-4 sidebar">
				<!-- Banner Section -->
				<div id="banners" class="banners">

					<div class="banner-item">
						<div class="banner-icon">
							<i class="fa fa-book"></i>
						</div>
						<h3 class="banner-title">Memorials 101</h3>
						<p class="banner-txt">
              Articles showing how to create a memorial
						</p>
					</div>

        <!-- Rotating blog articles from main site -->
				<aside class="widget widget_post">
					<img src="<%= @post.picture.url %>" alt="<%= @post.title %>">
					<h4 class="post-title">
						<%= @post.title %>
					</h4>
					<p>
						<%= @post.summary %>
					</p>
					<div class="continue-reading">
						<a href="<%= post_path(@post) %>" target="_blank">Read More <i class="fa fa-angle-double-right"></i></a>
					</div><!-- /.continue-reading -->

				</aside><!-- /.widget -->


			</div><!-- /#sidebar -->
			<!-- Sidebar End-->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /#about-page -->
