<%= render 'shared/content_title', title: (current_user.memorials.empty? ? 'Step 2: Create a Memorial' : 'Create a Memorial') %>

<section id="contact-page" class="page contact-page page-container">
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div id="post-container" class="col-md-12 post-container" role="main">
				<div class="row">
					<div class="col-md-8">
            <%= form_for @memorial do |f| %>
              <%= render 'shared/errors', obj: @memorial %>
							<div class="control-group">
              	<%= f.label :name, "Full Name" %>
              	<%= f.text_field :name, class:"form-control", placeholder: "Full Name of the Deceased" %>
							</div>
							<div class="control-group">
	              <%= f.label :dod, "Date of Passing" %>
	              <%= f.date_field :dod, class:"form-control" %>
							</div>
            <br>
						<div class="control-group">
	            Acceptable URLs: "tomas-peterson", "tomas.peterson", "tomas_peterson", "tomas-peterson-1974"
	            <br><br>

	              <div class="col-md-4">
	                <br>
	                <%= f.label :url, "www.memorialspaces.com/" %>
	              </div>
	              <div class="col-md-8">
	                <%= f.text_field :url, class: "form-control" %>
	              </div>
						</div>
            <br><br><br><br>
						<div class="control-group">
							<%= f.label :template, "Template Selector" %>
						  <%= f.collection_select(:template_id, ::Template.all, :id, :name) %>
						</div>
            <br><br><br><br><br><br><br><br>
            <%= f.submit "Create Memorial", class: "submit-btn submit md-btn btn" %>
            <% end %>
					</div>

					<div class="col-md-4">
						<h4 class="contact-title">Initial Setup </h4>
						<p>
							This is the first step for creating a memorial. We need some basic information to go forward.
						</p>
						<p>
              Do not worry if you are unsure of the birth date or middle name of the deceased. You can always edit these fields later.
						</p>

					</div>
				</div>
			</div><!-- /.post-container -->
			<!-- Post Container End -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /#contact-page -->
