<!-- If the user has not choosen a hero image, a default image is shown -->
<% if @memorial.picture.url %>
  <style>
    .hero { background-image: url(<%= @memorial.picture.url %>); }
  </style>
<% end %>


<!-- Hero Section -->
<div id="logo"><%= @memorial.name %> <span></span></div>

<section id="top" class="hero" data-type="parallax">
    <header id="main-menu">
        <div class="container">
            <div class="row">
                <div id="menu-logo"></div>
                <nav id="navigation" class="column twelve">
                    <ul>
                        <li class="submenu"><a href="#logo">Home</a></li>
                        <li><a href="#story">Biography</a></li>
                        <li><a href="#timeline">Timeline</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <!-- <li><a href="#gift">Condolence Gift</a></li> -->
                        <li><a href="#guestbook">GuestBook</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <a href="#" id="menu-toggle-wrapper">
                    <div id="menu-toggle"></div>
                </a>
            </div>
            <!-- close .ha-header-perspective -->
        </div>
        <!-- close grid container -->
    </header>
    <div class="overlay-dark"></div>
    <div class="container">
        <div class="hero-inner">
            <div class="info">
							<a href="#example2" class="openCSSModal">Click to Enter</a>
            </div>
        </div>
    </div>
</section>
<!-- #Hero Section Ends -->

<!-- #### Animated section -->
<div class="loaderOverlay"><i class="fa fa-spinner animate-spin"></i></div>

<!-- Modal Content -->
<aside id="example2" class="css-modal">
    <div>
        <h2>Password Protected</h2>
        <p>
				<%= form_tag access_memorial_path do %>
					<div class="control-group">
            <%= text_field_tag :code, nil, placeholder: "Password", class: "form-control", autofocus: true %>
					</div>
					<br />
          <%= submit_tag 'Enter', class: "submit-btn submit md-btn btn" %>
        <% end %>
				</p>
        <a href="#close" title="Close">Close</a>
    </div>
</aside>
