<!-- Hero Section -->
<div id="logo"><%= @memorial.name %> <span>&amp;</span></div>
<section id="top" class="hero" data-type="parallax">
    <header id="main-menu">
        <div class="container">
            <div class="row">
                <div id="menu-logo" >N <span>&amp;</span> R</div>
                <nav id="navigation" class="column twelve">
                    <ul>
                        <li class="submenu"><a href="#logo">Home</a></li>
                        <li><a href="#couple">Story</a></li>
                        <li><a href="#loveline">Loveline</a></li>
                        <li><a href="#wedding-events">Events</a></li>
                        <li><a href="#important-people">People</a></li>
                        <li><a href="#wedding-gallery">Gallery</a></li>
                        <li><a href="#gift-registry">Gifts</a></li>
                        <li><a href="#guestbook">GuestBook</a></li>
                        <li><a href="#contact">RSVP</a></li>
                    </ul>
                </nav>
                <a href="#" id="menu-toggle-wrapper">
                    <div id="menu-toggle"></div>
                </a>
            </div>
            <!-- close .ha-header-perspective -->
        </div>
        <!-- close grid container -->
    </header>
    <div class="overlay-dark"></div>
    <div class="container">
        <div class="hero-inner">
            <div class="info">

            </div>
            <a href="#story" class="mouse scrollTo"><i class="fa fa-long-arrow-down"></i></a>
        </div>
    </div>
</section>
<!-- #Hero Section Ends -->


<div>
  <p>
    Graveyard Location:
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@memorial.latitude}%2C#{@memorial.longitude}" %>

  </p>
</div>




<!-- #### Animated section -->
<!-- <div class="loaderOverlay"><i class="fa fa-heart animate-spin"></i></div> -->

<section id="home-content" class="top-menu">
    <!-- Story Section -->
    <section id="story" class="pattern">
      <header class="section-header">
          <h3 class="section-title">Biography</h3>
      </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
            </div>
            <div class="row">
                <div class="twelve">
                    <div class="box corner quote">
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                        <%= @memorial.biography.html_safe if @memorial.biography? %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #Story Section Ends -->

    <!-- Loveline Section -->
    <section id="loveline">
        <header class="section-header">
            <h3 class="section-title">OUR LOVELINE</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="timeline-year start"><span>2013</span></div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">March 25</span>
                        <h2>The day we met</h2>
                        <div class="box-content">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="#" class="more">View Comments</a>
                            <br>
                            <a href="#" class="more">Add Comment</a>


                        </div>

                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                        <span class="date">April 5</span>
                        <h2>First dinner together</h2>
                        <div class="box-content">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha, This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha,This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">April 12</span>
                        <h2>Our first holiday</h2>
                        <div class="box-content">
                            <div class="gallery">
                                <img src="<%= asset_path 'yes/album/post1.jpg' %>" alt="">
                                <img src="<%= asset_path 'yes/album/post2.jpg' %>" alt="">
                                <img src="<%= asset_path 'yes/album/post3.jpg' %>" alt="">
                                <img src="<%= asset_path 'yes/album/post4.jpg' %>" alt="">
                            </div>
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="column six heart left">
                    <div class="box pattern">
                        <span class="date">May 11</span>
                        <h2>The Proposal</h2>
                        <div class="box-content">
                            <img src= "<%= asset_path 'yes/album/WeddCouple8.jpg' %>" alt="">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">June 17</span>
                        <h2>Here comes the baby</h2>
                        <div class="box-content">
                            <iframe src="//player.vimeo.com/video/71737050" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-year"><span>2014</span></div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">January 1</span>
                        <h2>New Year's Eve in NY</h2>
                        <div class="box-content">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                        <span class="date">January 18</span>
                        <h2>First Holiday</h2>
                        <div class="box-content">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-button"><a href="#" class="button">Load more</a></div>
            </div>
        </div>
    </section>
    <!-- #Loveline Section Ends -->


    <!-- Loveline Section -->
    <section id="loveline">
        <header class="section-header">
            <h3 class="section-title">OUR LOVELINE</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="timeline-year start"><span>2013</span></div>

                <% @memorial.events.each_with_index do |event,index| %>
                  <div class="column six heart <%= (index+1) % 2 == 0 ? 'right' : 'left' %>">
                      <div class="box pattern">
                          <span class="date"><%= display_month_day(event.date) %></span>
                          <h2><%= event.title %></h2>
                          <div class="box-content">
                              <p><%= event.description %></p>
                              <a href="#" class="more">View Comments</a>
                              <% event.comments.each do |comment| %>
                                <div class="well">
                                  <%= comment.body %>
                                </div>
                              <% end %>
                              <br>
                              <a href="#" class="more">Add Comment</a>
                              <%= form_for [@memorial, event, @comment], html: {class: "actionform"} do |f| %>
                                <%= render 'shared/errors', obj: @comment %>
                                <div class="control-group">
                                  <%= f.label :author, "Name" %>
                                  <%= f.text_field :author %>
                                </div>
                                <div class="control-group">
                                  <%= f.label :body, "Comment" %>
                                  <%= f.text_area :body, rows: 5 %>
                                </div>
                                <div class="clearfix"></div>
                                <%= f.submit "Leave Entry", class: "color" %>
                                <div class="clearfix"></div>
                              <% end %>
                          </div>
                      </div>
                  </div>
                <% end %>


                <div class="clearfix"></div>
                <div class="timeline-year"><span>2014</span></div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">January 1</span>
                        <h2>New Year's Eve in NY</h2>
                        <div class="box-content">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                        <span class="date">January 18</span>
                        <h2>First Holiday</h2>
                        <div class="box-content">
                            <p>This is some dummy text, while bufi is dumy. Or it might be billy ,but someone is while evnayon is affected by his sutpidiyty whoha</p>
                            <a href="single-post.html" class="more">Read More</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-button"><a href="#" class="button">Load more</a></div>
            </div>
        </div>
    </section>
    <!-- #Loveline Section Ends -->

    <!-- Parallax Section -->
    <section class="parallax" data-type="parallax">
        <div class="overlay"></div>
        <div class="container">
            <h2 class="quote">“We’ve met one summer night in the club. The music was to loud so we really didn’t speak that much. One great thing led to another and the rest is history”</h2>
        </div>
    </section>
    <!-- #Parallax Section Ends -->



    <!-- #Map Section -->
    <section id="map-section">
        <div class="container">
            <div id="map-pins">
                <ul>
                    <li class="wedding">Wedding</li>
                    <li class="weddingParty">Wedding Party</li>
                    <li class="bachelor">Bachelor</li>
                    <li class="bachelorette">Bachelorette</li>
                    <li class="hotels">Hotels</li>
                    <li class="airport">Airport</li>
                    <li class="attractions">Attractions</li>
                    <li class="restoraunts">Restoraunts</li>
                    <li class="shopping">Shopping</li>
                    <li class="special">Special</li>
                </ul>
            </div>
        </div>
        <div id="map"></div>
    </section>
    <!-- #Map Section Ends -->

    <!-- Small Gallery Section -->
    <section id="wedding-gallery" class="pattern">
        <header class="section-header">
            <h3 class="section-title">Photo Gallery</h3>
        </header>
        <div class="container">
            <div class="row">
                <ul id="gallery-filter">
                    <li class="active"><a href="#" data-filter="*">All</a>
                    </li>
                    <li><a href="#" data-filter=".wedding">Wedding Day</a>
                    </li>
                    <li><a href="#" data-filter=".paris">Trip to Paris</a>
                    </li>
                    <li><a href="#" data-filter=".photography">Summer in Greece</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="gallery-wrapper">
            <div class="block wedding">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple1.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple1.jpg' %>" class="video-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">
                            This is some title
                            <span class="cat">Wedding</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="block photography">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple2.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple2.jpg' %>" class="portfolio-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">
                            This is some title
                            <span class="cat">Wedding</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="block photography">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple3.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple3.jpg' %>" class="portfolio-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">This is some title</h3>
                    </div>
                </a>
            </div>
            <div class="block photography">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple4.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple4.jpg' %>" class="portfolio-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">This is some title</h3>
                    </div>
                </a>
            </div>
            <div class="block wedding">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple5.jpg' %>"alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple5.jpg' %>" class="video-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">
                            This is some title
                            <span class="cat">Design</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="block paris">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple6.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple6.jpg' %>" class="portfolio-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">
                            This is some title
                            <span class="cat">Design</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="block paris">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple7.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple7.jpg' %>" class="portfolio-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">This is some title</h3>
                    </div>
                </a>
            </div>
            <div class="block photography">
                <div class="image-holder">
                    <img src="<%= asset_path 'yes/album/WeddCouple8.jpg' %>" alt="image">
                </div>
                <a href="<%= asset_path 'yes/album/WeddCouple8.jpg' %>" class="portfolio-hover">
                    <div class="portfolio-info">
                        <h3 class="portfolio-title">This is some title</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- #Small Gallery Section Ends -->

    <!-- Gift Registry Section -->
    <section id="gift-registry" class="pattern">
        <header class="section-header">
            <h3 class="section-title">Gift Registry</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container">
            <ul class="small-box corner">
                <li>
                    <a class="product" href="#"><img src="<%= asset_path 'yes/gifts/registry-amazon.png' %>" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
                <li>
                    <a class="product" href="#"><img src="<%= asset_path 'yes/gifts/registry-crate.png' %>" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
                <li>
                    <a class="product" href="#"><img src="<%= asset_path 'yes/gifts/registry-macys.png' %>" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
                <li>
                    <a class="product" href="#"><img src="<%= asset_path 'yes/gifts/registry-tiffany.png' %>" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
            </ul>
            <ul class="small-box corner">
                <li>
                    <div class="money">
                        <span class="amount">$100</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$200</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$400</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$1000</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- #Gift Registry Section Ends -->

    <!-- Guestbook Section -->
    <section id="guestbook">
        <header class="section-header">
            <h3 class="section-title">Guestbook</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="timeline-year start"><span>2014</span></div>
                <!-- display guestbook comments -->

                <% @guestbook.comments.each_with_index do |comment,index| %>
                  <div class="column six heart <%= (index+1) % 2 == 0 ? 'right' : 'left' %>">
                    <div class="box pattern">
                      <span class="date"><%= display_month_day(comment.created_at) %></span>
                      <div class="guest">
                        <p><%= comment.body %></p>
                        <span class="name"><%= comment.author %></span>
                      </div>
                    </div>
                  </div>
                <% end %>

                <div class="clearfix"></div>
                <div class="timeline-button"><a href="#" class="button">Load more</a></div>
            </div>
        </div>
        <div class="form color">
            <header class="section-header">
                <h3>Write Something</h3>
            </header>
            <div class="container smaller">
              <div class="row">
              <!-- guestbook form / comment code -->
              <%= form_for [@memorial, @guestbook, @comment], html: {class: "actionform"} do |f| %>
                <%= render 'shared/errors', obj: @comment %>
                <div class="control-group">
                  <%= f.label :author, "Name" %>
                  <%= f.text_field :author %>
                </div>
                <div class="control-group">
                  <%= f.label :body, "Comment" %>
                  <%= f.text_area :body, rows: 5 %>
                </div>
                <div class="clearfix"></div>
                <%= f.submit "Leave Entry", class: "color" %>
                <div class="clearfix"></div>
              <% end %>
              </div>
            </div>
        </div>
    </section>
    <!-- #Guestbook Section Ends -->

    <!-- Contact Section -->
    <section id="contact" class="bgcolor">
        <header class="section-header">
            <h3 class="section-title">Contact the Memorial Creator</h3>
        </header>
        <div class="form">
            <div class="container smaller">
                <div class="row">
                    <%= form_for [@memorial, @message], html: {class: "actionform"} do |f| %>
                      <div class="control-group column six">
                        <%= f.label :name %>
                        <%= f.text_field :name %>
                      </div>
                      <div class="control-group column six">
                        <%= f.label :email %>
                        <%= f.text_field :email %>
                      </div>
                      <div class="control-group column twelve">
                        <%= f.label :content, "Message" %>
                        <%= f.text_area :content, rows: 5 %>
                      </div>
                      <div class="clearfix"></div>
                      <%= f.submit "Send --->" %>
                      <div class="clearfix"></div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    <!-- #Contact Section -->

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="column four copyright">Memorial made by <a href="#">memorialspaces.com</a></div>
                <div class="column four logo"><%= @memorial.name %></div>
                <div class="column four info"></a></div>
            </div>
        </div>
    </footer>
    <!-- / Footer Section Ends -->
</section>
