<!DOCTYPE html>
<html>
<head>
  <title>Memori - Remember Your Loved Ones</title>
  <%= favicon_link_tag 'memorials/favicon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <%= javascript_include_tag 'application' %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navigation' %>

  <% flash.each do |name, msg| -%>
    <%= javascript_tag do %>
      var stuff = "<%= msg %>";
      $.jGrowl(stuff, { life: 10000 });
    <% end %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
