<!DOCTYPE html>
<html>
<head>
  <title>MemorialApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li>
      <%= link_to "Memorial Project" %>
    </li>
    <li>
      <%= link_to "Memorials", memorials_path %>
    </li>
    <li>
      <%= link_to "Add a Memorial", new_memorial_path %>
    </li>
  </ul>

<%= yield %>

</body>
</html>
