<!DOCTYPE html>
<html>
<head>
  <title>Memori - Remember Your Loved Ones</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navigation' %>

  <% flash.each do |name, msg| -%>
    <%= javascript_tag do %>
      var stuff = "<%= msg %>";
      $.jGrowl(stuff, { life: 10000 });
    <% end %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
