<!DOCTYPE html>
<html>
<head>
  <title>Memori - Remember Your Loved Ones</title>
  <%= favicon_link_tag 'yes/favicon.png' %>
  <%= stylesheet_link_tag 'yes', theme_stylesheet, media: 'all' %>
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'yes' %>

  <% flash.each do |name, msg| -%>
    <%= javascript_tag do %>
      var stuff = "<%= msg %>";
      jQuery().jGrowl(stuff, { life: 10000 });
    <% end %>
  <% end %>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlYTA2SI73Y-aA1Br5eVMzkLffonsby7w&callback=initMap"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>
